<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
	<style>
	h1 {text-align: center;}
	form {text-align: center;}
	h3 {text-align: center;}
	</style>
</head>
<body>

	<article>
	  <header>
	    <h1>Course Project</h1>		
	  </header>	  
	</article>

    <form action = "/display" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <br><br>
		<label for="min_sup">Min sup:</label>
		<input type="text" id="min_sup" name="min_sup"><br><br>
         <input type = "submit"/>
         <input type = "reset"/>
      </form>
	
	
</body>
</html>